@model HackTrip.Adapter.Data.TripDataModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="view">
    <div>@Model.Topic</div>
    <table class="table" contenteditable="true">
        <thead>
            <tr>
                <th>主题</th>
                <th>目的地</th>
                <th>距离上一行程</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Segments != null)
                {
                    var list = Model.Segments.OrderBy(x => x.Index).ToArray();
                    for (int i = 0; i < list.Length; i++)
                    {
                        var item = list[i];
                        var nextitem = list[i + 1];
                        <tr>
                            <td>@item.Topic  @{if (i > 0) { @(nextitem.StartTime.ToString()); } }</td>
                            <td> @("约"+Math.Round(nextitem.StepTime / 60 * 1.1) + "分钟路程")</td>
                            <td>@nextitem.Distance  @{if (i + 1 >= list.Length - 1) { WriteLiteral("(终点)"); } }</td>
                        </tr>

                        if (i + 1 >= list.Length -1) { break; }
                       
                    }
                }

            }
        </tbody>
    </table>
</div>